# Object files
*.o

# Shared object files
*.so

# SGX generated trusted proxy files
*_t.h
*_t.c

# SGX generated untrusted proxy files
*_u.h
*_u.c

# executables
cassa_client_host
cassa_server_host

# sgxssl
sgxssl/

# logfile
log/

# vscode
.vscode/

# executable files
*.out

# mrsigner file
mrsigner.bin

# jsonl files
*.jsonl